trko-image,
trko-youtube-video {
  font-family: var(--font-family);

  figure {
    margin: 1.5em 0;
    position: relative;
    display: block;

    .trko-image-wrapper {
      position: relative;
    }
  }

  figure img {
    width: 100%;
    border-radius: var(--border-radius);
  }

  figure {
    .trko-image-zoom-btn {
      position: absolute;
      right: 0.63em;
      top: 0.63em;
      color: var(--primary-color);
      font-family: var(--default-font);
      font-size: 0.75em;
      font-weight: 600;
      text-decoration: none;
      padding: 0.25em 0.5em;
      border-radius: var(--border-radius);
      background: rgba(256, 256, 256, 0.68);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  figcaption {
    opacity: 0.8;
    text-align: center;
    font-weight: 500;
    margin: 0.38em 0.88em;
    font-size: 0.81em;
  }

  .trko-youtube-video-iframe-container {
    border-radius: var(--border-radius);
    overflow: hidden;
    background: #e0e0e0;

    iframe {
      display: block;
      height: calc(0.54 * 800px);
    }

    @media screen and (max-width: 800px) {
      iframe {
        height: calc(54vw);
      }
    }
  }

  @media screen and (max-width: 400px) {
    figure {
      border-radius: 0;
      overflow: hidden;
      margin-left: -0.88em;
      margin-right: -0.88em;

      .trko-youtube-video-iframe-container,
      img {
        border-radius: 0;
      }

      iframe {
        // height: 200px;
      }
    }
  }
}
