.trko-box-container {
  background: var(--background);
  border-radius: var(--border-radius);
  padding: 0.88em;
  margin: 1.5em 0;

  font-family: var(--font-family);
}

.trko-box-container.blue {
  background: #7bbfff49;
}

.trko-box-container h5 {
  margin: 0 0 0.63em 0;
  font-size: 0.88em;
  line-height: 1.25;
}

.trko-box-container p:last-of-type {
  margin-bottom: 7px;
}

.trko-box-container.inline-btns {
  padding: 0;
  margin: 0 0 0 0;
  background: none;

  // To remove after update of Treekoditor
  h5 {
    display: none;
  }

  ul {
    padding-left: 0;

    li {
      display: inline-block;
      margin: 0 4px 0.88em 0;
      // font-size: 16px;

      &::before {
        content: '';
      }

      a {
        padding: 5px 12px;
        font-weight: 600;
        // border: 2px solid;
        background: #00000014;
        border-radius: 30px;
        font-family: var(--default-font);
      }
    }
  }
}

.trko-box-container.sommaire {
  font-size: 0.85rem;
  background: #f1f1f140;
  font-family: var(--default-font);

  h5 {
    opacity: 0.65;
    font-size: 0.75em;
  }

  .trko-box-content > ul {
    padding-left: 0;
    list-style-type: none;
    margin: 0;

    & > li::before {
      content: '';
    }

    ul li::before {
      content: '•';
      color: black;
      opacity: 0.5;
    }
  }
}

.youtube-coverflow {
  &.trko-box-container {
    background: transparent;
    padding: 0;
    margin-top: 0;
    margin-left: -0.88em;
    margin-right: -0.88em;

    & > h5 {
      display: none;
    }
  }

  .trko-box-content {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;

    figure {
      margin: 0.88em 0.44em;
    }

    trko-yt-light:first-child figure {
      margin-left: 0.88em;
    }

    trko-yt-light:last-child figure {
      margin-right: 0.88em;
    }
  }

  /* @media screen and (min-width: 600px) {
    &.trko-box-container {
      margin-left: -7px;
      margin-right: -7px;
    }

    .trko-box-content {
      flex-wrap: wrap;
      padding-top: 10px;

      figure {
        margin: 14px 7px 0 7px;
      }

      trko-yt-light:first-child figure {
        margin-left: 7px;
        // margin-top: 24px;
      }

      trko-yt-light:last-child figure {
        margin-right: 7px;
        // margin-bottom: 24px;
      }
    }
  } */
}

.persos,
.calendar,
.smiley {
  &.trko-box-container {
    background: transparent;
    padding: 0 0.88em;
    margin: 1.5em 0;

    & > h5 {
      display: none;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    padding-left: 1.3em;
    font-size: 1em;
    padding: 0.5em 0 0.5em 1.3em;
    position: relative;
  }

  li:before {
    content: '';
    font-family: 'Material Icons';
    display: block;
    color: var(--box-color);
    opacity: 1;
    font-size: 1.8em;
    position: absolute;
    margin-left: -1.3em;
    margin-top: -0.4em;
  }
}

.persos li:before {
  content: 'face';
}

.calendar li:before {
  content: 'today';
}

.smiley li:before {
  content: '😀';
  opacity: 1;
  margin-top: -0.34em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.reminder {
  &.trko-box-container {
    // border: 2px solid var(--box-color);
    // border-bottom: 16px solid var(--box-color);
    // background: #80808008;
  }

  h5 {
    position: relative;
    // font-size: 0.88em;
    font-size: 1em;
    background-color: var(--box-color);
    margin: -0.88em -0.88em 0 -0.88em;
    padding: 6px 1.9em 6px 2em;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    font-weight: 600;
    color: white;
  }

  h5:before {
    content: '🧠';
    // font-family: 'Material Icons';
    display: block;
    opacity: 1;
    font-size: 1em;
    position: absolute;
    margin-left: -1.5em;
    // margin-top: -0.34em;
  }
}
